<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build all Max Deprecated copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>Build all PD Deprecated copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>Build all PD copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>Build all.bak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>o.io.bluetoothle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>o.io.leap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>o.iterate.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>o.iterate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>o.udp.receive.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>o.udp.send.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>x.delegate~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>x.dist.bernoulli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>x.dist.beta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>x.dist.binomial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>x.dist.cauchy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>x.dist.chi_squared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>x.dist.dirichlet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>x.dist.discrete.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>x.dist.exponential.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>x.dist.extreme_value.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>x.dist.fisher_f.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>x.dist.gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>x.dist.geometric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>x.dist.hypergeometric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>x.dist.kumaraswamy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>x.dist.lognormal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>x.dist.multinomial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>x.dist.multivariate_hypergeometric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>x.dist.negative_binomial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>x.dist.normal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>x.dist.piecewise_constant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>x.dist.piecewise_linear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>x.dist.poisson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>x.dist.student_t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>x.dist.uniform_int.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>x.dist.uniform_real.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>x.dist.weibull.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>x.generator.mt19937_64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>x.generator.pcg32.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>x.global.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>x.random_device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>x.seed_seq_from.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>112AC85719394255003244E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>115D7402198FD23F00F42B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11893E531986F436008303DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1191799E19C25F4700F76066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA028191D5814001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA033191D58CA001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA03E191D58FF001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA049191D5A2A001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA053191D5A53001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA05D191D5A67001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA06A191D5D2B001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA074191D5D3A001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA07E191D5D43001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA088191D5D52001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA092191D5D5B001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0A1191D5E91001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0AB191D5E9D001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0B5191D5EC6001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0BF191D5EF5001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0C9191D5F05001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0D3191D5F0F001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0E3191D5FFB001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0ED191D6002001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0F7191D6009001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA101191D6010001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA10B191D6027001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA115191D602E001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA11F191D6032001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA129191D6040001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA133191D6052001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9CA19571A8300333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9D319571AC400333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9DE19574A1B00333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EF2AC618AFEBB900156403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F20C3E19A260B300BA2487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F20C4D19A5647200BA2487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F20C5A19A57AC400BA2487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F7B52B194C48EF0090045B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11FC8B02194C417F00635118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>520A44A41824777800CB610F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5214995C191D4C0100642F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5214996C191D563700642F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52183D5E19218CCB00F61786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52183DE019218CF200F61786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521EE6C42118992700F281AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521EE6D52118E74700F281AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521EE6E72118EE7600F281AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521EE6F92119873B00F281AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5224C9FB1958BFDF00E37AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523B363B20A3396A003D1A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D49620C95934007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D4A720C95B70007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D4B920C95CC9007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D4CA20C96115007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D4DB20C963FF007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D4EA20C96405007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D4FD20C969EB007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D50C20C969EF007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D51B20C969F1007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D52A20C969F3007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D54120C974E4007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D55020C974E6007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D55F20C974E8007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D56E20C974EA007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D57D20C974EC007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D58C20C974ED007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266D5BD20CD3096007D4589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528D3197211C765C00DD478F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529EACB520B0121C006D56A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A8393B16E978D7002E273C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B20FE7213C43ED002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B20FF7213C6B68002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B21007213D221D002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B21017213EDC0F002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B2102921400842002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B2103821448A55002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B2104721454CB9002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B210562145796D002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B210652145B083002FC3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B654BF17CD5F94004FD84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA33CD19719C41008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA34311971AB7D008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA3446197C68BA008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA3490197C6A79008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D69DE420AC90CB00D7BDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3930E4195A28B3002EDAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
